// Place all the styles related to the multimidia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#content{
  width: 100%;

  .title {
    width: 100%;
    text-align: center;
  }

  .left, .right, .center{
    float: left; 
    height: 300px;
    text-align: center;
    margin: 0 auto;
  }

  .left{
    width:20%;
    padding-top: 100px;
  }

   .center{
    width:20%;
    padding-top: 100px;

    #button {
      height: 50px;
    }

  }

  .right{
    width:50%;
    float: right; 
    border-style: ridge;
    height: 100%;
    margin-top: 50px;

  }
}

